<h3>この内容で送信する。</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <div class="check_content">
    <%= @post.content %><br>
  </div>
  <%= form.submit "送信する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
